@model Week02.Models.ChangePasswordViewModel
@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_Layout_Account.cshtml";

    List<Week02.Models.Khach_hang> details_customer = (List<Week02.Models.Khach_hang>)ViewData["detail_customer"];
}
<asp:Content ID="Content1" ContentPlaceHolderID="Stylesheets" runat="server">
    <link href="~/css/details_information.css" rel="stylesheet" />
</asp:Content>

<style>
    .text-danger {
        color: red;
        margin-top: 50px;
    }

    .labelText {
        font-size: 16px;
    }

    .styleLi li {
        list-style-type: none;
        width: 100%;
        font-size: 15px;
        font-weight: bold;
    }

    .myform {
        padding-top: 50px;
        padding-left: 200px;
        padding-right: 200px;
    }
</style>

<fieldset>
    <legend>Change password</legend>
    <br />
    <div>
        <span>@Html.ValidationSummary(true, "", new { @style = "color: red;", @class = "styleLi myform" })</span>
    </div>

    @using (Html.BeginForm("ChangePassword", "Account", FormMethod.Post, new { @class = "form-horizontal myform", role = "form" }))
    {
        @Html.AntiForgeryToken()

        @Html.LabelFor(m => m.OPassword, new { @class = "labelText" })
        @Html.PasswordFor(m => m.OPassword, new { placeholder = "Enter your old password" })
        <p><b>@Html.ValidationMessageFor(m => m.OPassword, "", new { @class = "text-danger" })</b></p>
        @Html.LabelFor(m => m.NPassword, new { @class = "labelText" })
        @Html.PasswordFor(m => m.NPassword, new { placeholder = "Enter your new password" })
        <p><b>@Html.ValidationMessageFor(m => m.NPassword, "", new { @class = "text-danger" })</b></p>
        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "labelText" })
        @Html.PasswordFor(m => m.ConfirmPassword, new { placeholder = "Enter your re-password" })
        <p><b>@Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })</b></p>

        <div class="clearfix">
            <button type="button" name="btnCancel" class="cancelbtn" onclick='javascript:history.back()'>Cancel</button>
            <button type="submit" name="btnUpdate" onclick='@Url.Action("AccountDetail")' class="updatebtn">Update</button>
        </div>
    }
</fieldset>

