<style>
    .mytag {
        font-size: 13px;
        background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
        background-size: 400% 400%;
        color: white;
        border-radius: 10%;
        padding: 5px;
    }
</style>
@{List<Week02.Models.San_pham> lst_search = (List<Week02.Models.San_pham>)ViewData["lst_search"];}
<div id="content" class="float_r">
    <h1>Search for: <span><e class="mytag">@ViewBag.keyword</e></span></h1>

    @if (lst_search != null)
    {
        foreach (var p in lst_search)
        {
            <div class="product_box">
                <h3>@p.Ten_sp</h3>
                <a href='@Url.Action("ProductDetail/"+ p.ID_sp + "/" + p.Nsx_sp, "Home")'>
                    <img src='@Url.Content("~/images/product/"+p.Hinh_sp+"")' />
                </a>
                <p> @p.Mo_ta </p>
                <p class="product_price">$ @p.Gia_sp</p>
                <a href='@Url.Action("OrderNow", "ShoppingCart", new { id  = p.ID_sp})' class="addtocart"></a>
                <a href='@Url.Action("ProductDetail/"+ p.ID_sp + "/" + p.Nsx_sp, "Home")' class="detail"></a>
            </div>
        }
    }
    else
    {
        @Html.Raw("< h2 > Not found product </ h2 >");
    }

</div>
<div class="cleaner"></div>
